@font-face {
  font-family: 'Georgia Regular';
  src: url('../fonts/Georgia/Georgia.ttf');
}

.font-georgia-regular {
  font-family: 'Georgia Regular', sans-serif;
}

@font-face {
  font-family: 'Georgia Bold';
  src: url('../fonts/Georgia/Georgia-Bold.ttf');
}

.font-georgia-bold {
  font-family: 'Georgia Bold', sans-serif;
}

@font-face {
  font-family: 'Georgia BoldItalic';
  src: url('../fonts/Georgia/Georgia-BoldItalic.ttf');
}

.font-georgia-bold-italic {
  font-family: 'Georgia BoldItalic', sans-serif;
}

@font-face {
  font-family: 'Georgia Italic';
  src: url('../fonts/Georgia/Georgia-Italic.ttf');
}

.font-georgia-italic {
  font-family: 'Georgia Italic', sans-serif;
}