@font-face {
  font-family: 'Muli Black';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Muli/Muli-Black.ttf');
}

.font-black {
  font-family: 'Muli Black', sans-serif;
}

@font-face {
  font-family: 'Muli BlackItalic';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Muli/Muli-BlackItalic.ttf');
}

.font-black-italic {
  font-family: 'Muli BlackItalic', sans-serif;
}

@font-face {
  font-family: 'Muli Bold';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Muli/Muli-Bold.ttf');
}

.font-bold {
  font-family: 'Muli Bold', sans-serif;
}

@font-face {
  font-family: 'Muli BoldItalic';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Muli/Muli-BoldItalic.ttf');
}

.font-bold-italic {
  font-family: 'Muli BoldItalic', sans-serif;
}

@font-face {
  font-family: 'Muli-Italic';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Muli/Muli-Italic.ttf');
}

.font-italic {
  font-family: 'Muli-Italic', sans-serif;
}

@font-face {
  font-family: 'Muli-Light';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Muli/Muli-Light.ttf');
}

.font-light {
  font-family: 'Muli-Light', sans-serif;
}

@font-face {
  font-family: 'Muli-LightItalic';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Muli/Muli-LightItalic.ttf');
}

.font-light-italic {
  font-family: 'Muli-LightItalic', sans-serif;
}

@font-face {
  font-family: 'Muli-ExtraBold';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Muli/Muli-ExtraBold.ttf');
}

.font-extra-bold {
  font-family: 'Muli-ExtraBold', sans-serif;
}

@font-face {
  font-family: 'Muli-ExtraBoldItalic';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Muli/Muli-ExtraBoldItalic.ttf');
}

.font-extra-bold-italic {
  font-family: 'Muli-ExtraBoldItalic', sans-serif;
}

@font-face {
  font-family: 'Muli-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Muli/Muli-Regular.ttf');
}

.font-regular {
  font-family: 'Muli-Regular', sans-serif;
}

@font-face {
  font-family: 'Muli-SemiBold';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Muli/Muli-SemiBold.ttf');
}

.font-semi-bold {
  font-family: 'Muli-SemiBold', sans-serif;
}

@font-face {
  font-family: 'Muli-SemiBoldItalic';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Muli/Muli-SemiBoldItalic.ttf');
}

.font-semi-bold-italic {
  font-family: 'Muli-SemiBoldItalic', sans-serif;
}