@font-face {
  font-family: 'Roboto Black';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Roboto/Roboto-Black.ttf');
}

.font-black {
  font-family: 'Roboto Black', sans-serif;
}

@font-face {
  font-family: 'Roboto BlackItalic';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Roboto/Roboto-BlackItalic.ttf');
}

.font-black-italic {
  font-family: 'Roboto BlackItalic', sans-serif;
}

@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Roboto/Roboto-Bold.ttf');
}

.font-bold {
  font-family: 'Roboto Bold', sans-serif;
}

@font-face {
  font-family: 'Roboto BoldItalic';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Roboto/Roboto-BoldItalic.ttf');
}

.font-bold-italic {
  font-family: 'Roboto BoldItalic', sans-serif;
}

@font-face {
  font-family: 'Roboto-Italic';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Roboto/Roboto-Italic.ttf');
}

.font-italic {
  font-family: 'Roboto-Italic', sans-serif;
}

@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Roboto/Roboto-Light.ttf');
}

.font-light {
  font-family: 'Roboto-Light', sans-serif;
}

@font-face {
  font-family: 'Roboto-LightItalic';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Roboto/Roboto-LightItalic.ttf');
}

.font-light-italic {
  font-family: 'Roboto-LightItalic', sans-serif;
}

@font-face {
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Roboto/Roboto-Medium.ttf');
}

.font-medium {
  font-family: 'Roboto-Medium', sans-serif;
}

@font-face {
  font-family: 'Roboto-MediumItalic';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Roboto/Roboto-MediumItalic.ttf');
}

.font-medium-italic {
  font-family: 'Roboto-MediumItalic', sans-serif;
}

@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Roboto/Roboto-Regular.ttf');
}

.font-regular {
  font-family: 'Roboto-Regular', sans-serif;
}

@font-face {
  font-family: 'Roboto-Thin';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Roboto/Roboto-Thin.ttf');
}

.font-thin {
  font-family: 'Roboto-Thin', sans-serif;
}

@font-face {
  font-family: 'Roboto-ThinItalic';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/Roboto/Roboto-ThinItalic.ttf');
}

.font-thin-italic {
  font-family: 'Roboto-ThinItalic', sans-serif;
}