@font-face {
  font-family: 'Roboto Black';
  src: url('../fonts/Roboto/Roboto-Black.ttf');
}

.font-roboto-black {
  font-family: 'Roboto Black', sans-serif;
}

@font-face {
  font-family: 'Roboto BlackItalic';
  src: url('../fonts/Roboto/Roboto-BlackItalic.ttf');
}

.font-roboto-black-italic {
  font-family: 'Roboto BlackItalic', sans-serif;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
}

.font-roboto-bold {
  font-family: 'Roboto Bold', sans-serif;
}

@font-face {
  font-family: 'Roboto BoldItalic';
  src: url('../fonts/Roboto/Roboto-BoldItalic.ttf');
}

.font-roboto-bold-italic {
  font-family: 'Roboto BoldItalic', sans-serif;
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url('../fonts/Roboto/Roboto-Italic.ttf');
}

.font-roboto-italic {
  font-family: 'Roboto-Italic', sans-serif;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto/Roboto-Light.ttf');
}

.font-roboto-light {
  font-family: 'Roboto-Light', sans-serif;
}

@font-face {
  font-family: 'Roboto-LightItalic';
  src: url('../fonts/Roboto/Roboto-LightItalic.ttf');
}

.font-roboto-light-italic {
  font-family: 'Roboto-LightItalic', sans-serif;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto/Roboto-Medium.ttf');
}

.font-roboto-medium {
  font-family: 'Roboto-Medium', sans-serif;
}

@font-face {
  font-family: 'Roboto-MediumItalic';
  src: url('../fonts/Roboto/Roboto-MediumItalic.ttf');
}

.font-roboto-medium-italic {
  font-family: 'Roboto-MediumItalic', sans-serif;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

.font-roboto-regular {
  font-family: 'Roboto-Regular', sans-serif;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('../fonts/Roboto/Roboto-Thin.ttf');
}

.font-roboto-thin {
  font-family: 'Roboto-Thin', sans-serif;
}

@font-face {
  font-family: 'Roboto-ThinItalic';
  src: url('../fonts/Roboto/Roboto-ThinItalic.ttf');
}

.font-roboto-thin-italic {
  font-family: 'Roboto-ThinItalic', sans-serif;
}